<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reasoning-task.css') }}">
        <title>Reasoning</title>
    </head>
    <body>
        <form>
            <!-- <input type="hidden" name="gui" value="json" /> -->
            <div id="data">
                <span class="inpt">Data</span>
                <div class="files" id="data_files">
                    <div class="uploaded" name="data_uploads" id="data_uploads">Upload data files...</div>
                    <input class="upload_btn" type="file" id="upl_data" name="upl_data" multiple onchange="javascript:updateFiles('upl_data', 'data_uploads', 'data')">
                </div>
                <div class="urls" id="data_urls">
                    <textarea name="data_list" id="data_list" placeholder="...or you can insert data URLs here (line by line)"></textarea>
                </div>
            </div>

            <div id="rules">
                <span class="inpt">Rules</span>
                <div class="files" id="rule_files">
                    <div class="uploaded" name="rule_uploads" id="rule_uploads">Upload rule files...</div>
                    <input class="upload_btn" type="file" id="upl_rules" name="upl_rules" multiple onchange="javascript:updateFiles('upl_rules', 'rule_uploads', 'rule')">
                </div>
                <div class="urls" id="rule_urls">
                    <textarea name="rule_list" id="rule_list" placeholder="...or you can insert rule URLs here (line by line)"></textarea>
                </div>
            </div>

            <div id="query">
                <span class="inpt">Query</span>
                <div class="files" id="query_file">
                    <div class="uploaded" name="query_uploads" id="query_uploads">Upload query files...</div>
                    <input class="upload_btn" type="file" id="upl_queries" name="upl_queries" multiple onchange="javascript:updateFiles('upl_queries', 'query_uploads', 'query')">
                </div>
                <div class="urls" id="query_url">
                    <textarea name="query_list" id="query_list" placeholder="...or you can insert query URLs here (line by line)"></textarea>
                </div>
            </div>

            <div id="parameters">
                <span class="param">The parameters (currently readonly)</span>
                <textarea id="param_list" readonly>--nope</textarea>
            </div>
            <input id="reason" value="Reason">
            <div id="reasoning"><img id="spinner" src="{{ url_for('static', filename='images/tenor.gif') }}"></div>
        </form>

        <div id="console">
            {% if output %}
            <div id="output">
{{ output }}
            </div>
            {% else %}
            <div id="output">
            </div>
            {% endif %}
        </div>

        <script>
            // Containers for posting stringyfied files
            let data_files = [];
            let data_list = [];

            let rule_files = [];
            let rule_list = [];

            let query_files = [];
            let query_list = [];

            function readFile(file, onLoadCallback) {
                
                // Check if the file is an image.
                // if (file.type && file.type.indexOf('image') === -1) {
                //     console.log('File is not an image.', file.type, file);
                //     return;
                // }

                const reader = new FileReader();
                reader.onload = onLoadCallback;
                reader.readAsText(file);
            };

            // function showFileList(list, ary, idstr) {
            //     list.innerHTML = ary.map((object, index) => ([
            //         "<div class='file_chip'" + "id='" + idstr + "_" + index + "'>"
            //             + object.file 
            //             + "<span class='remove_btn'>&times;</span>"
            //             + "</div>"])).join("");
            // };

            function updateFiles(input, output, target) {
                const myFiles = document.getElementById(input);
                let myList = document.getElementById(output);
                const fileList = myFiles.files;

                // console.log(fileList);

                for (var i = 0; i < fileList.length; ++i) {
                    // Prepare a little object for this file's name and content
                    let thisFile = {};
                    if (target === "data") {
                        thisFile["file"] = fileList[i]["name"];
                        
                        // The readFile function which takes another function for the second parameter!
                        readFile(fileList[i], function(e) {
                            thisFile["content"] = e.target.result;
                        });
                        
                        data_files.push(thisFile);

                    } else if (target === "rule") {
                        thisFile["file"] = fileList[i]["name"];

                        readFile(fileList[i], function(e) {
                            thisFile["content"] = e.target.result;
                        });

                        rule_files.push(thisFile);
                    } else {
                        thisFile["file"] = fileList[i]["name"];

                        readFile(fileList[i], function(e) {
                            thisFile["content"] = e.target.result;
                        });

                        query_files.push(thisFile);
                    }  
                };

                if (target === "data") {
                    // showFileList(myList, data_files, "dat");
                    myList.innerHTML = data_files.map((object) => ([
                        "<div class='file_chip' data-type='data'>"
                        + object.file 
                        + "<span class='remove_btn'>&times;</span>"
                        + "</div>"])).join("");
                } else if (target === "rule") {
                    // showFileList(myList, rule_files, "rle");
                    myList.innerHTML = rule_files.map((object) => ([
                        "<div class='file_chip' data-type='rule'>" 
                        + object.file 
                        + "<span class='remove_btn'>&times;</span>"
                        + "</div>"])).join("");
                } else {
                    // showFileList(myList, query_files, "qry");
                     myList.innerHTML = query_files.map((object) => ([
                        "<div class='file_chip' data-type='query'>" 
                        + object.file 
                        + "<span class='remove_btn'>&times;</span>"
                        + "</div>"])).join("");
                }


                console.log("Data files:");
                console.log(data_files);
                console.log("Rule files:");
                console.log(rule_files);
                console.log("Query files:");
                console.log(query_files);

                $(".remove_btn").click(function() {
                    let type = $(this).parent().attr("data-type");
                    // let index = $(this).parent().attr("id").slice(4,99);
                    let filename = $(this).parent().text().slice(0,-1);
                    console.log(filename);
                    // console.log("#" + type + "_" + index);

                    if (type === "data") {
                        data_files = data_files.filter(function(obj) {
                            return obj.file !== filename;
                        })
                        // data_files.splice(index, 1);
                    } else if (type == "rule") {
                        rule_files = rule_files.filter(function(obj) {
                            return obj.file !== filename;
                        })
                        // rule_files.splice(index, 1);
                    } else {
                        query_files = query_files.filter(function(obj) {
                            return obj.file !== filename;
                        })
                        // query_files.splice(index, 1);
                    }

                    console.log("Data files:");
                    console.log(data_files);
                    console.log("Rule files:");
                    console.log(rule_files);
                    console.log("Query files:");
                    console.log(query_files);

                    $(this).parent().remove();

                });

            };

            // Reason button
            $(document).ready(function() {
                $("#reason").click(function() {

                    if  (!(!$.trim($("#data_list").val()))) { // textarea is not empty or does not contain only white-space
                        data_list = $("#data_list").val().split(/\r?\n/);
                    } 

                    if (!(!$.trim($("#rule_list").val()))) {
                        rule_list = $("#rule_list").val().split(/\r?\n/);
                    }

                    if (!(!$.trim($("#query_list").val()))) {
                        query_list = $("#query_list").val().split(/\r?\n/);
                    }

                    // You will have to do all the form validation here, not only at the service's end!
                        // --> Since the response is always a blob written to a file !!!
                        // Keep the validation at the service though (--> it's an API)

                    // For now, just check all the arrays and only reason
                    if (data_files.concat(data_list).length > 0 
                            && rule_files.concat(rule_list).length > 0
                            && query_files.concat(query_list).length > 0
                        ) {

                            $.ajax({
                                url: "http://localhost:50001?gui=json",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                // dataType: "text/turtle",
                                data: JSON.stringify({
                                    "data": {
                                        "files": data_files, 
                                        "urls": data_list
                                    }, 
                                    "rules": {
                                        "files": rule_files, 
                                        "urls": rule_list
                                    }, 
                                    "queries": {
                                        "files": query_files, 
                                        "urls": query_list
                                    }
                                }),
                                xhrFields: {
                                    responseType: "blob" // ???
                                },
                                // Trick to initiate Save as dialog
                                success: function(res) {
                                    let a = document.createElement("a");
                                    let url = window.URL.createObjectURL(res);
                                    let now = new Date();
                                    let timeString = now.getFullYear().toString() 
                                        + (now.getMonth() +1).toString() 
                                        + now.getDate().toString() 
                                        + now.getHours().toString() 
                                        + now.getMinutes().toString(); 
                                    a.href = url;
                                    a.download = "reasoning_" + timeString + ".ttl";
                                    document.body.append(a);
                                    a.click();
                                    a.remove();
                                    window.URL.revokeObjectURL(url);
                                },
                                // success: function(response) {
                                //     console.log("Success:")
                                //     console.log(response)
                                //     $("#output").text(response);
                                // },
                                error: function(error) {
                                    console.log("Error:")
                                    console.log(error);
                                }
                            });

                    } else {
                        $("#output").text("Data/Rule/Query missing");
                    }
                });
            });

            // Show spinner while reasoner is working
            $(document).ready(function () {
                $(document).ajaxStart(function () {
                    $("#reasoning").show();
                }).ajaxStop(function () {
                    $("#reasoning").hide();
                });
            });

        </script>

    </body>
</html>
